.button-field {
	input,
	button {
		display: block;
	   	padding: 8px 0;
	 	width: 100%;
	 	@include border-radius(20px);
	 	color: $custom-color-1;
		font-family: $text-font-stack;
		font-size: 16px;
		font-weight: 600;
	 	background-color: $custom-color-4;
	 	text-align: center;	
	 	border: none;
	 	@include box-shadow-none();
	 	&:hover {
	 		background-color: $custom-color-3;
	 	} 
	}
}