.flexible-section{
	padding: 63px 0 60px;
	background-image: linear-gradient(to top, #f4f7f8 0%, #ffffff 100%);
	@media(max-width: 767px){
		padding: 35px 0 37px;
	}
}


/// Heading _________________
.flexible-section{
	.sub-heading {
		* {
		    margin-bottom: 59px;
		    @media(max-width: 767px){
	    	    margin-bottom: 25px;
		    }
		}
	}
}


/// Top section __________________
.flexible-section{
	.top {
	    margin-bottom: 60px;
	    @media(max-width: 767px){
    	    margin-bottom: 35px;
	    }	
	}
}



/// Bottom section ________________
.flexible-section{
	.bottom {
		.wrapper {
			text-align: right;
			max-width: 630px;
			margin: 0 auto;
			.provider {
			    height: 45px;
			    position: relative;
				img {
					max-height: 100%;
					@include div-align-center();
				}
			}
		}
	}
}